.page-footer{
    background-color: rgb(15, 15, 15);
    color: white;
}

.socialmedia i.fa-twitter  { 
    color: #00aced;
}

.socialmedia i.fa-facebook-f { 
    color: #3b5998; 
}

.socialmedia i.fa-pinterest { 
    color: #C92228; 
}
.socialmedia i.fa-instagram { 
    color: #8a3ab9; 
}
.socialmedia i.fa-envelope { 
    color: #d34836; 
}


.circle-icon{
    background:black;
    padding:10px;
    border-radius: 25%;
}